.button {
    width: 2rem;
    height: 2rem;
    border: none;
    background: none;
    color: var(--color-red);
    cursor: pointer;
    
}

.added-drug{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--color-grey-100);
    padding: 1rem 1rem;
  
}

.added-drug + .added-drug {
    margin-top: 1rem;
}
